

.message-composer-container {
  border: 1px solid #ddd;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
  "toolbar"
  "children"
  "composer";

  & .toolbar {
    grid-area: toolbar;
  }
  
  & .children {
    grid-area: children;
  }
  
  & .composer {
    grid-area: composer;
    padding: 5px;
  }

  &.hasError{ 
    height: 102px;
    background-color: #fdf1f1;

    .error-title {
      grid-area: toolbar;
      margin: auto 20px 0;
      color: #c7372f;
      font-weight: bold;
    }

    .error-message {
      grid-area: children;
      margin: 0px 20px auto;
      color: #eb3323;
      font-size: 0.875rem;
    }

    .error-reload {
      grid-area: composer;
      margin: auto 20px;
      color: #eb3323;
      font-size: 0.875rem;

      .reload-button {
        border: none;
        background-color: inherit;
        color: inherit;
        padding: 0;
      }
    }
  }
}
