.message-composer-container {
  border: 1px solid #ddd;
  display: grid;
  grid-row-gap: 5px;
  grid-template-columns: 7px auto 7px;
  grid-template-areas:
  "toolbar  toolbar  toolbar"
  ".        divider  ."
  "children children children"
  "composer composer composer";

  & .toolbar {
    grid-area: toolbar;
  }
  
  & .children {
    grid-area: children;
  }
  
  & .composer {
    grid-area: composer;
    padding: 5px;
  }

  & hr.message-composer {
    grid-area: divider;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
  }
}
